<div class="header">

  <div class="header__emblem">
    <img src="assets/favicon-32x32.png" alt="favorite icon" class="header__image">
    <div class="header__text">TestTask</div>
  </div>

  <div class="header__router-links">
    <div routerLink="" class="header__about-me">About me</div>
    <div routerLink="" class="header__relationships">Relationships</div>
    <div routerLink="" class="header__requirements">Requirements</div>
    <div routerLink="" class="header__users">Users</div>
    <div routerLink="" class="header__sign-up">Sign up</div>
  </div>
</div>
