<div class="header">

  <div routerLink="/home" class="header__emblem --no-outline --pointer-cursor">
    <img src="assets/favicon-32x32.png" alt="favorite icon" class="header__image">
    <div class="header__text">TestTask</div>
  </div>

  <div class="header__router-links">
    <div routerLink="/about-me" class="header__about-me --no-outline --pointer-cursor --no-wrap">About me</div>
    <div routerLink="/relationships" class="header__relationships --no-outline --pointer-cursor">Relationships</div>
    <div routerLink="/requirements" class="header__requirements --no-outline --pointer-cursor">Requirements</div>
    <div routerLink="/users" class="header__users --no-outline --pointer-cursor">Users</div>
    <div routerLink="/sign-up" class="header__sign-up --no-outline --pointer-cursor --no-wrap">Sign up</div>
  </div>
</div>
