<div class="assignment">
  <div class="assignment__title --to-uppercase">
    <div>Test assignment</div>
    <div>for frontend</div>
    <div>developer position</div>
  </div>
  <div class="assignment__requirements">
    We kindly remind you that your test assignment should be submitted as a link to github/bitbucket
    repository. Please be patient, we consider and respond to every application that meets minimum
    requirements. We look forward to your submission. Good luck! The photo has to scale in the banner
    area on the different screens
  </div>
<!--  TODO: this block is reused in the registration section-->
  <button routerLink="/sign-up" class="sign-up --no-outline --pointer-cursor --btn-border">Sign up now</button>
</div>

<div class="acquaintance">
  <div class="acquaintance__title">Let's get acquainted</div>
  <div class="acquaintance__container">
    <div class="acquaintance__photo-container">
      <img src="../../assets/man-laptop-v1.svg" alt="" class="acquaintance__photo">
    </div>
    <div class="acquaintance__information">
      <div class="acquaintance__info-title">I'm a cool frontend developer</div>
      <div class="acquaintance__info-content">
        <div class="acquaintance__evaluation">
          We will evaluate how clean your approach to writing CSS and JavaScript
          code is. You can use any CSS and JavaScript 3rd party libraries without any
          restriction.
        </div>
        <div class="acquaintance__libraries">
          If 3rd party css/javascript libraries are added to the project via
          bower/npm/yarn you will get bonus points. If you use any task runner
          (gulp/webpack) you will get bonus points as well. Slice service directory
          page PSD mockup into HTML5/CSS3.
        </div>

      </div>

      <div routerLink="/sign-up" class="acquaintance__sign-up --no-outline --pointer-cursor">Sign up now</div>
    </div>
  </div>
</div>

<div class="users">
  <div class="users__title-container">
    <div class="users__title">Our cheerful users</div>
    <div class="users__attention">Attention! Sorting users by registration date</div>
  </div>
  <!--  TODO: add them to a wrapping div so that more users can be added dynamically-->
  <div class="users__container">
    <app-user *ngFor="let user of users" [user]="user" class="user"></app-user>
  </div>
  <button class="users__button --no-outline --pointer-cursor --btn-border">Show more</button>
</div>

<div class="registration">
  <div class="registration__header">
    <div class="registration__title">
      Register to work
    </div>
    <div class="registration__warning">
      <span>Attention! After successful registration and alert update the </span><span>list of users in the block from the top</span>
    </div>
  </div>
  <div class="registration__form">
    <!--    TODO: add a reactive form here - see How to define a reactive form from course files in Trello-->
  </div>
</div>

<div class="footer">
  <div class="footer__copyright">© abz.agency</div>
  <div class="footer__page-purpose">specially for the test task</div>
</div>
