<div class="assignment">
  <div class="assignment__title --to-uppercase">
    <div>Test assignment</div>
    <div>for frontend</div>
    <div>developer position</div>
  </div>
  <div class="assignment__requirements">
    We kindly remind you that your test assignment should be submitted as a link to github/bitbucket
    repository. Please be patient, we consider and respond to every application that meets minimum
    requirements. We look forward to your submission. Good luck! The photo has to scale in the banner
    area on the different screens
  </div>
<!--  TODO: this block is reused in the registration section-->
  <button class="sign-up --no-outline --pointer-cursor --btn-border">Sign up now</button>
</div>

<div class="acquaintance">
<!--  TODO: add acquaintance content-->
</div>

<div class="users">
  <!--  TODO: add them to a wrapping div so that more users can be added dynamically-->
  <div class="users__container">
    <app-user></app-user>
    <app-user></app-user>
    <app-user></app-user>
  </div>
  <button class="users__button">Show more</button>
</div>

<div class="registration">
  <div class="registration__header">
    <div class="registration__title">

    </div>
    <div class="registration__warning">

    </div>
  </div>
  <div class="registration__form">
    <!--    TODO: add a reactive form here-->
  </div>
</div>

<div class="footer">
  <div class="footer__copyright"></div>
  <div class="footer__page-purpose"></div>
</div>
