
<app-assignment></app-assignment>

<div class="acquaintance">
  <div class="acquaintance__title">Let's get acquainted</div>
  <div class="acquaintance__container">
    <div class="acquaintance__photo-container">
      <img src="../../assets/man-laptop-v1.svg" alt="" class="acquaintance__photo">
    </div>
    <div class="acquaintance__information">
      <div class="acquaintance__info-title">I'm a cool frontend developer</div>
      <div class="acquaintance__info-content">
        <div class="acquaintance__evaluation">
          We will evaluate how clean your approach to writing CSS and JavaScript
          code is. You can use any CSS and JavaScript 3rd party libraries without any
          restriction.
        </div>
        <div class="acquaintance__libraries">
          If 3rd party css/javascript libraries are added to the project via
          bower/npm/yarn you will get bonus points. If you use any task runner
          (gulp/webpack) you will get bonus points as well. Slice service directory
          page PSD mockup into HTML5/CSS3.
        </div>

      </div>

      <div routerLink="/sign-up" class="acquaintance__sign-up --no-outline --pointer-cursor">Sign up now</div>
    </div>
  </div>
</div>

<div class="users">
  <div class="users__title-container">
    <div class="users__title">Our cheerful users</div>
    <div class="users__attention">Attention! Sorting users by registration date</div>
  </div>
  <!--  TODO: add them to a wrapping div so that more users can be added dynamically-->
  <div class="users__container">
    <app-user *ngFor="let user of users" [user]="user" class="user"></app-user>
  </div>
  <button class="users__button --no-outline --pointer-cursor --btn-border">Show more</button>
</div>

<app-registration></app-registration>

<app-footer></app-footer>
