
.assignment {
  height: 750px;
  background: url('../../assets/banner-photo.jpg');
  background-size: cover;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.assignment > * {
  margin-left: 40px;
}

.assignment__title {
  font-size: 50px;
  display: block;
}

.assignment__requirements {
  width: 44%;
}

.assignment__title {
  width: 52%;
}

.sign-up {
  margin-top: 46px;
  height: 46px;
  width: 262px;
  background-color: #EF5B4C;
  font-size: 20px;
  color: white;
  display: grid;
  place-items: center;
}

// acquaintance

.acquaintance {
  height: 720px;
}

.acquaintance__title {
  margin-top: 180px;
  font-size: 52px;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  right: 8%;
}

.acquaintance__container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.acquaintance__information {
  width: 54%;
  margin-left: 48px;
}

.acquaintance__sign-up {
  color: #EF5B4C;
  margin-top: 40px;
}

.acquaintance__info-title {
  margin: 0 0 32px 0;
  font-size: 22px;
  font-weight: 325;
}
