/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: open-sans;
  src: url('/assets/font/OpenSans-Regular.ttf');
}

:root {
  font-family: open-sans, serif;
  //overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.--no-outline {
  outline: 0;
}

.--pointer-cursor {
  cursor: pointer;
}

.--no-wrap {
  white-space: nowrap;
}

.--to-uppercase {
  text-transform: uppercase;
}

.--btn-border {
  border: 0;
  border-radius: 6px;
}
